<h1>Edit Director</h1>
<form action="/directors/<%= @director["id"] %>" method="post">
  <label>
    First Name:
    <input type="text" name="first_name" value="<%=@director["first_name"]%>" required>
  </label>
  <label>
    Last Name:
    <input type="text" name="last_name" value="<%=@director["last_name"]%>" required>
  </label>
  <label>
    Country of Origin:
    <input type="text" name="country" value="<%=@director["country"]%>" required>
  </label>
  <label>
    Number of Awards:
    <input type="number" name="number_of_awards" value="<%=@director["number_of_awards"]%>" required>
  </label>
  <label>
  Image:
  <input type="url" name="image" placeholder="http://..." value="<%=@director["image"]%>">
  </label>
  <button>Edit Director</button>
</form>
