<h1>Edit Team</h1>

<form action="/teams/<%= @team.id %>" method="post">

  <div>
    <label>
      Name:
      <input name="name" placeholder="eg. Brazil" value="<%= @team.name %>" required>
    </label>
  </div>

  <div>
    <label>
      World Cup Appearance:
      <input name="world_cup_appearance" placeholder="enter a number" value="<%= @team.world_cup_appearance %>" required>
    </label>
  </div>

  <div>
    <label>
      World Cup Champions:
      <input type="number" name="world_cup_champions" placeholder="enter a number" value="<%= @team.world_cup_champions %>">
    </label>
  </div>

  <div>
    <label>
      Image:
      <input type="url" name="image" placeholder="eg. http://..." value="<%= @team.image %>">
    </label>
  </div>

  <button>Update Team</button>
</form>
